@page
@model RTUEMS.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.DepartmentHeadName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.DepartmentHeadName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Venue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.VenueTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.VenueTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.MemberCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.MemberCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
